*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #19fc26;
    text-align: center;

}
body{
    background-image: url('https://i.pinimg.com/originals/0a/88/60/0a88608e63e981c390e1264377ec7b21.jpg');
    background-size: 100% 110%;
    display: flex;
}

h1{
    font-size: 85px;
}
button{
    background-color: transparent;
    border: #19fc26 solid 1px;
    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
}
.relogio{
    margin-bottom: -100px;
    background-image: url('https://media.discordapp.net/attachments/823246017532264492/1097976782143107162/1681848435175.png?width=1052&height=701');
    width: 45vw;
    height: 45vw;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
}

.visor{
    display: flex;
    justify-content: center;
    background-color: black;
    width: 65%;
    height: 40%;
    margin-top: -50px;
    border-radius: 20px;
}

.visor div{
    margin-block: auto;
}
