.questoes{
    color: red;
    background-color: yellow;
}

#q1 h1{
    text-align: center;
}
#q1 p{
    padding-left: 30px;
}
#q3 h1{
    color: aqua;
}
#q3 h2{
    color: rgb(255, 0, 208);
}
#q3 h3{
    color: rgb(4, 255, 0);
}
#q3 h5{
    color: rgb(255, 0, 0);
}
#q4 pre{
    display: flex;
}

#q5{
    background-color: #C0C0C0;
    outline: solid #C0C0C0 10px;
    height: 650px;
}

#q5 hr{
    height: 2px;
    background-color: black;
}
#q5 h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    text-align: center
}
#q5 div hr{
    height: 3px;
    background-color: #9d9c9c;
}
#q5 div img{
    width: 25%;
   height: 50%;
   margin-inline: auto;
}
#q5 p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#q5 h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-style: italic
   
}
#q6 table{
   width: 400px;
   margin: auto;
}
#q6 h3{
    text-align: center;
}
.itens td{
    border: solid 1px black;
}

#q7 h2{
    text-align: center;
}
#q7 form{
    margin-inline: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
#q7 table{
    width: 500px;
    border-spacing: 1px;
    padding: 1px;
}
