<<<<<<< HEAD

:root {
    --back: #9893a9;
    --nav: #1b1919;
    --letra: #f3eaf2;
    --fonte: sans-serif;
}
*{
    color: var(--letra);
    text-decoration: none;
}
html,body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }

body{
    margin: 0px;
    background-color: var(--back);
    background-image: url(img/wallpaper.webp);
    
   
    background-blend-mode: multiply;
}


  .swiper-slide {
    text-align: center;
    height: 500px !important;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;

  }
  .swiper-button-next, .swiper-button-prev{
    color: crimson !important;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  .swiper-slide h1{
    padding: 10px;
    color: white;
    background-color: var(--nav);
    border-radius: 0 0 50px 0;
    top: -530px;
    z-index: 2;
    position: relative;
  }

.container{ 
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-bar{ 
    position: fixed;
    width: 97vw;
    top: -4px;
    padding-inline: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav);
    color: var(--letra);
    font-family: var(--fonte);
    z-index: 3;
    
}
.eu{
    margin-top: 100px;
}
.eu img{
    border-radius: 50%;
    box-shadow: rgba(240, 46, 59, 0.4) -5px 5px, rgba(240, 46, 46, 0.3) -10px 10px, rgba(240, 46, 46, 0.2) -15px 15px, rgba(240, 46, 46, 0.1) -20px 20px, rgba(240, 46, 46, 0.05) -25px 25px;
}
.eu p{
        overflow-wrap: break-word;
        max-width: 500px !important;
        text-align: justify;
    }

section h1{
    text-align: center;
    font-size: 30px;
}
a{
    transition: all 300ms;
}
a:hover{
    color: crimson;
}
a:hover i{
    color: crimson;
    
}
.d2{
    display: flex;
    justify-content: center;
}
.d1{
    width: 99%;
    padding: 5px;
}

.row{
    width: 50%;
    padding: 3px;
    
}
.d2 img{
    width: 100%;
    margin-bottom: auto;
}
.hobbies{
    padding: 50px;
}
.hobbies h1{
    text-align: start !important;
}

@media screen and (min-width: 701px){
    ul{
        display: flex;
        list-style: none;
    }
    .linha{
        background-color: #ffff;
        width: 1px;
        height: 200px;
        margin-inline: 30px;
    }
    li{
        margin-inline: 4px;
    }

    .eu img{
        width: 25%;
    }
    .eu{
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--letra);
    }
    .eu p{
        overflow-wrap: break-word;
        max-width: 60vw !important;
        
    }
    .swiper {
        height: 100%;
        width:  60%;
      }
    .musicas{
        display: flex;
        justify-content: space-evenly;
    }
}
@media screen and (max-width:700px){
    .eu img{
        width: 90%;
    }
    .eu{
        display: block;
        padding: 25px;
    }
    ul{
        display: none;
    }
    .swiper {
        height: 100%;
        width:  100%;
      }
      .musicas{
        display: inline;
    }
    .video{
        display: flex;
        justify-content: center;
        margin: 20px;
    }
}

=======

:root {
    --back: #9893a9;
    --nav: #1b1919;
    --letra: #f3eaf2;
    --fonte: sans-serif;
}
*{
    color: var(--letra);
    text-decoration: none;
}
html,body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }

body{
    margin: 0px;
    background-color: var(--back);
    background-image: url(img/wallpaper.webp);
    
   
    background-blend-mode: multiply;
}


  .swiper-slide {
    text-align: center;
    height: 500px !important;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;

  }
  .swiper-button-next, .swiper-button-prev{
    color: crimson !important;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  .swiper-slide h1{
    padding: 10px;
    color: white;
    background-color: var(--nav);
    border-radius: 0 0 50px 0;
    top: -530px;
    z-index: 2;
    position: relative;
  }

.container{ 
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-bar{ 
    position: fixed;
    width: 97vw;
    top: -4px;
    padding-inline: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav);
    color: var(--letra);
    font-family: var(--fonte);
    z-index: 3;
    
}
.eu{
    margin-top: 100px;
}
.eu img{
    border-radius: 50%;
    box-shadow: rgba(240, 46, 59, 0.4) -5px 5px, rgba(240, 46, 46, 0.3) -10px 10px, rgba(240, 46, 46, 0.2) -15px 15px, rgba(240, 46, 46, 0.1) -20px 20px, rgba(240, 46, 46, 0.05) -25px 25px;
}
.eu p{
        overflow-wrap: break-word;
        max-width: 500px !important;
        text-align: justify;
    }

section h1{
    text-align: center;
    font-size: 30px;
}
a{
    transition: all 300ms;
}
a:hover{
    color: crimson;
}
a:hover i{
    color: crimson;
    
}
.d2{
    display: flex;
    justify-content: center;
}
.d1{
    width: 99%;
    padding: 5px;
}

.row{
    width: 50%;
    padding: 3px;
    
}
.d2 img{
    width: 100%;
    margin-bottom: auto;
}
.hobbies{
    padding: 50px;
}
.hobbies h1{
    text-align: start !important;
}

@media screen and (min-width: 701px){
    ul{
        display: flex;
        list-style: none;
    }
    .linha{
        background-color: #ffff;
        width: 1px;
        height: 200px;
        margin-inline: 30px;
    }
    li{
        margin-inline: 4px;
    }

    .eu img{
        width: 25%;
    }
    .eu{
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--letra);
    }
    .eu p{
        overflow-wrap: break-word;
        max-width: 60vw !important;
        
    }
    .swiper {
        height: 100%;
        width:  60%;
      }
    .musicas{
        display: flex;
        justify-content: space-evenly;
    }
}
@media screen and (max-width:700px){
    .eu img{
        width: 90%;
    }
    .eu{
        display: block;
        padding: 25px;
    }
    ul{
        display: none;
    }
    .swiper {
        height: 100%;
        width:  100%;
      }
      .musicas{
        display: inline;
    }
    .video{
        display: flex;
        justify-content: center;
        margin: 20px;
    }
}

>>>>>>> 4829debce955cd3978011a1b3d5ccb6e959be98e
